*{
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono", monospace;
    color: #FDFFFD;
}

::placeholder{
    color: #393A40;
}

body{
    background-color: #0F0F16;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

header{
    background-color: #0C0C12;
    height: 75px;
    width: 100dvw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: #1D1D25 2px solid;
}

header h1{
    margin: 50px;
    font-size: 1.25rem;
}

.menu{
    margin: 50px;
    height: 75px;
    width: 50dvw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.menu button{
    background-color: transparent;
    border: #1D1D25 1px solid;
    border-radius: 10px;
    font-size: 1rem;
    padding: 25px;
    padding-bottom: 7.5px;
    padding-top: 7.5px;
    margin-left: 50px;
}

.menu button:hover{
    background-color: #12121A;
}

.menu-container {
    position: relative;
    display: inline-block;
}
    
.menu-container button{
    cursor: pointer;
}
        
.submenu {
    text-align: center;
    display: none;
    position: absolute;
    background-color: #0C0C12;
    border: #1D1D25 2px solid;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    top: 100%;
    left: 0;
}
.submenu a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
        
.submenu a:hover {
    background-color: #12121A;
}
        
.menu-container:hover .submenu {
    display: block;
}