:root {
    --color1: #FDFFFD;        /* Main text color */
    --color2: #393A40;        /* Placeholder color */
    --color3: #0F0F16;        /* Body background */
    --color4: #0C0C12;        /* Header background */
    --color5: #1D1D25;        /* Border color */
    --color6: #12121A;        /* Hover backgrounds */
}

* {
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono", monospace;
    color: var(--color1);
}

::placeholder {
    color: var(--color2);
}

body {
    background-color: var(--color3);
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

header {
    background-color: var(--color4);
    height: 75px;
    width: 100dvw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--color5) 2px solid;
}

header h1 {
    margin: 50px;
    font-size: 1.25rem;
}

.menu {
    margin: 50px;
    height: 75px;
    width: 50dvw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.menu button {
    background-color: transparent;
    border: var(--color5) 1px solid;
    border-radius: 10px;
    font-size: 1rem;
    padding: 25px;
    padding-bottom: 7.5px;
    padding-top: 7.5px;
    margin-left: 50px;
}

.menu button:hover {
    background-color: var(--color6);
}

.menu-container {
    position: relative;
    display: inline-block;
}
    
.menu-container button {
    cursor: pointer;
}
        
.submenu {
    text-align: center;
    display: none;
    position: absolute;
    background-color: var(--color4);
    border: var(--color5) 2px solid;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    top: 100%;
    left: 0;
}

.submenu a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
        
.submenu a:hover {
    background-color: var(--color6);
}
        
.menu-container:hover .submenu {
    display: block;
}

.body {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: justify;
    width: 75dvw;
    padding-bottom: 50px;
}

.body p {
    font-size: 1.25rem;
    margin-top: 50px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 60dvw;
    margin-top: 50px;
}

.buttons a {
    background-color: var(--color6);
    border: var(--color5) 2px solid;
    border-radius: 10px;
    font-size: 1.5rem;
    width: 20dvw;
    height: 100px;
    padding: 25px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

.buttons a:hover {
    background-color: transparent;
}

h2{
    margin-top: 50px;
    margin-bottom: -25px;
}